<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaji.galgamebyhuaji.dao.ResourceStatisticsMapper">
    <resultMap id="enumCountMap" type="com.huaji.galgamebyhuaji.model.ResourceStatics">
        <result column="r_type" property="rType"/>
        <result column="count" property="size"/>
    </resultMap>
    <select id="getResourceStatics" resultMap="enumCountMap">
        SELECT r_type, COUNT(*) AS count
        FROM resources
        GROUP BY r_type;
    </select>
</mapper>