<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huaji.galgamebyhuaji.dao.ResourcesFileMapMapper">
    <resultMap id="BaseResultMap" type="com.huaji.galgamebyhuaji.entity.ResourcesFileMap">
        <result column="r_id" jdbcType="INTEGER" property="rId"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="up_user" jdbcType="INTEGER" property="upUser"/>
        <result column="is_public" jdbcType="BIT" property="isPublic"/>
        <result column="size" jdbcType="INTEGER" property="size"/>
        <result column="file_size" jdbcType="BIGINT" property="fileSize"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.huaji.galgamebyhuaji.entity.ResourcesFileMap">
        <result column="notes" jdbcType="LONGVARCHAR" property="notes"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        r_id, file_name, up_user, is_public, size, file_size
    </sql>
    <sql id="Blob_Column_List">
        notes
    </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.huaji.galgamebyhuaji.entity.ResourcesFileMapExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from resources_file_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.huaji.galgamebyhuaji.entity.ResourcesFileMapExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from resources_file_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.huaji.galgamebyhuaji.entity.ResourcesFileMapExample">
        delete from resources_file_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.huaji.galgamebyhuaji.entity.ResourcesFileMap">
        insert into resources_file_map (r_id, file_name, up_user,
                                        is_public, size, file_size,
                                        notes)
        values (#{rId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, #{upUser,jdbcType=INTEGER},
                #{isPublic,jdbcType=BIT}, #{size,jdbcType=INTEGER}, #{fileSize,jdbcType=BIGINT},
                #{notes,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.huaji.galgamebyhuaji.entity.ResourcesFileMap">
        insert into resources_file_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rId != null">
                r_id,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="upUser != null">
                up_user,
            </if>
            <if test="isPublic != null">
                is_public,
            </if>
            <if test="size != null">
                size,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="notes != null">
                notes,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rId != null">
                #{rId,jdbcType=INTEGER},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="upUser != null">
                #{upUser,jdbcType=INTEGER},
            </if>
            <if test="isPublic != null">
                #{isPublic,jdbcType=BIT},
            </if>
            <if test="size != null">
                #{size,jdbcType=INTEGER},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=BIGINT},
            </if>
            <if test="notes != null">
                #{notes,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.huaji.galgamebyhuaji.entity.ResourcesFileMapExample"
            resultType="java.lang.Long">
        select count(*) from resources_file_map
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update resources_file_map
        <set>
            <if test="row.rId != null">
                r_id = #{row.rId,jdbcType=INTEGER},
            </if>
            <if test="row.fileName != null">
                file_name = #{row.fileName,jdbcType=VARCHAR},
            </if>
            <if test="row.upUser != null">
                up_user = #{row.upUser,jdbcType=INTEGER},
            </if>
            <if test="row.isPublic != null">
                is_public = #{row.isPublic,jdbcType=BIT},
            </if>
            <if test="row.size != null">
                size = #{row.size,jdbcType=INTEGER},
            </if>
            <if test="row.fileSize != null">
                file_size = #{row.fileSize,jdbcType=BIGINT},
            </if>
            <if test="row.notes != null">
                notes = #{row.notes,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update resources_file_map
        set r_id = #{row.rId,jdbcType=INTEGER},
        file_name = #{row.fileName,jdbcType=VARCHAR},
        up_user = #{row.upUser,jdbcType=INTEGER},
        is_public = #{row.isPublic,jdbcType=BIT},
        size = #{row.size,jdbcType=INTEGER},
        file_size = #{row.fileSize,jdbcType=BIGINT},
        notes = #{row.notes,jdbcType=LONGVARCHAR}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update resources_file_map
        set r_id = #{row.rId,jdbcType=INTEGER},
        file_name = #{row.fileName,jdbcType=VARCHAR},
        up_user = #{row.upUser,jdbcType=INTEGER},
        is_public = #{row.isPublic,jdbcType=BIT},
        size = #{row.size,jdbcType=INTEGER},
        file_size = #{row.fileSize,jdbcType=BIGINT}
        <if test="example != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <insert id="insertAll" parameterType="java.util.List">
        insert into resources_file_map (r_id, file_name, up_user,
        is_public, size, file_size,
        notes)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.rId,jdbcType=INTEGER}, #{item.fileName,jdbcType=VARCHAR}, #{item.upUser,jdbcType=INTEGER},
            #{item.isPublic,jdbcType=BIT}, #{item.size,jdbcType=INTEGER}, #{item.fileSize,jdbcType=BIGINT},
            #{item.notes,jdbcType=LONGVARCHAR})
        </foreach>
    </insert>
    <select id="hasFile" resultType="int">
        select count(*)
        from resources_file_map
        where r_id = #{rId}
    </select>
</mapper>
