<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILE_PATH" value="./logs"/>
    <property name="ENCODING" value="UTF-8"/>

    <!-- 控制台 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!-- 错误日志 -->
    <appender name="errorFile" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE_PATH}/error.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 更新删除操作日志 (记录INFO及以上) -->
    <appender name="updateDelFile" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE_PATH}/updateAndDel.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- 安全相关日志 -->
    <appender name="loginFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}/safety.log</file>
        <encoder>
            <charset>${ENCODING}</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/safety.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
    </appender>
    <!--安全日志-->
    <logger name="com.huaji.galgamebyhuaji.service.impl.LoginServiceIMPL" level="INFO" additivity="false">
        <appender-ref ref="loginFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.impl.SecureServletImpl" level="INFO" additivity="false">
        <appender-ref ref="loginFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.impl.TokenServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="loginFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.LoginService" level="INFO" additivity="false">
        <appender-ref ref="loginFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.SecureServlet" level="INFO" additivity="false">
        <appender-ref ref="loginFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.TokenService" level="INFO" additivity="false">
        <appender-ref ref="loginFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.RootServlet" level="INFO" additivity="false">
        <appender-ref ref="loginFile"/>
    </logger>
    <!-- 用户行为日志 -->
    <appender name="userFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}/userBehavior.log</file>
        <encoder>
            <charset>${ENCODING}</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/userBehavior.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.huaji.galgamebyhuaji.service.impl.UserBehaviorServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="userFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.impl.UserMxgServletImpl" level="INFO" additivity="false">
        <appender-ref ref="userFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.impl.CollectServletImpl" level="INFO" additivity="false">
        <appender-ref ref="userFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.UserMxgServlet" level="INFO" additivity="false">
        <appender-ref ref="userFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.impl.FileAccessServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="userFile"/>
    </logger>
    <logger name="com.huaji.galgamebyhuaji.service.impl.FileUploadServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="userFile"/>
    </logger>
    <!-- 验证日志 -->
    <appender name="userVerification" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}/userVerification.log</file>
        <encoder>
            <charset>${ENCODING}</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/userVerification.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <logger name="com.huaji.galgamebyhuaji.Interceptor" level="INFO" additivity="false">
        <appender-ref ref="userVerification"/>
    </logger>
    <!-- 根记录器 -->
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="errorFile"/>
        <appender-ref ref="updateDelFile"/>
    </root>

</configuration>
